body {
    font-family: 'Inter';
    font-style: normal;
}

p,
ul,
h1,
h2 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
}

/* header */

.header {
    display: flex;
    background-image: linear-gradient(to top, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../images/header.jpg);
    /* background-image: url(../images/header.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 3px solid #FFFFFF;
    justify-content: space-between;
}

.header-main {
    display: flex;
    padding-left: 204px;
    justify-content: space-between;
    width: 100%;
}

.nav-list-item {
    margin-right: 10px;
}

.nav-list-item:last-child {
    margin-right: 0;
}

.header-right-item {
    margin-right: 10px;
}

.header-right-item:last-child {
    margin-right: 0;
}

.header-right {
    display: flex;
    align-items: center;
    margin: 0 48px;
}

.header-right-list {
    display: flex;
    justify-content: space-between;
}

.header-main-img {
    height: 72px;
    margin: 39px 0;

}

.nav-list {
    display: flex;
    justify-content: space-between;
    padding: 63px 0
}

.nav-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.20;
    text-align: justify;
    color: #FFFFFF;
}

.nav-text:hover, :focus {
    font-weight: 600;
    color: #94CFFF;
}

.header-button {
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    text-align: justify;
    text-align: center;
    color: #26C6EA;
    border-radius: 35px 0;
    border: 2px solid #26C7EA;
    background-color: #0B0E66;
    margin: 54px 0;
    padding: 10px 40px;
}

.header-text-eng {
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #FFFFFF;
}

.header-img {
    width: 36px;
    height: 20px;
}

.header-text-ua {
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #FFFFFF;
}

/* hero */

.hero {
    display: flex;
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 740px;
}

.hero-left {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.20;
    color: #FFFFFF;
    padding: 180px 606px 179px 204px;
}

.hero-text-navi {
    width: 298px;
}

.hero-text-ua::before {
    content: '';
    display: block;
    background-image: url(../images/vector-hero.svg);
    background-repeat: no-repeat;
    padding: 20px;
    width: 152px;
    height: 40px;
    margin: 0 auto;
}

.hero-text-ua {
    width: 376px;
}

.hero-right {

    width: 50px;
    height: 141px;
    padding: 300px 204px 299px 0;
}

.hero-list-item {
    margin-bottom: 24px;
}

.hero-list-item:last-child {
    margin-bottom: 0;
}

.hero-button {
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: #26C7EA;
    border-radius: 45px 0;
    border: 3px solid #26C7EA;
    background-color: #0B0E66;
    padding: 10px 30px;
    margin-top: 42px;
}

.blockquote {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.22;
    color: #0A3853;
    text-align: center;
    padding: 123px 219px 16px 219px;
    margin: 0 auto;
}

.author {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.08;
    text-align: justify;
    text-align: center;
    color: #000000;

}

.author::after{
    content: '';
    display: block;
    background-image: url(../images/icon-with-arrow.svg);
    width: 400px;
    height: 120px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

/* trailer */

.trailer {
    background-image: url(../images/trailer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 741px;
}

.trailer-button {
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    text-align: justify;
    text-align: center;
    border-radius: 45px 0;
    color: #26C7EA;
    border: 3px solid #26C7EA;
    background-color: #0B0E66;
    width: 260px;
    height: 80px;
    margin: 355px 610px 355px 610px;
    padding: 0;
}

/* knowledge */

.knowledge {
    background-image: url(../images/knowledge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 57px 203px 58px 204px;

}

.knowlege-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.knowledge-item {
    width: 320px;
    height: 240px;
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 24px;
    padding: 36px;
}

.knowlege-title {
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.25;
    text-align: center;
    color: #141414; 
    margin-bottom: 45px;
}

.knowledge-text-ua {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.00;
    text-align: justify;
    color: #141414;
}

.knowledge-left::after {
    content: '';
    display: block;
    background-image: url(../images/knowlege-arrow-left.svg);
    width: 152px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 40px auto;
}

.knowledge-center::after {
    content: '';
    display: block;
    background-image: url(../images/knowlege-arrow.svg);
    width: 152px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 40px auto;
}

.knowledge-right::after {
    content: '';
    display: block;
    background-image: url(../images/knowlege-arrow-right.svg);
    width: 152px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 40px auto;
}

.knowledge-text-navi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.00;
    text-align: justify;
    color: #000000;
    
}

/* footer */

.footer {
    display: flex;
    background-image: linear-gradient(to top, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)),
        url(../images/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 204px;
}

.footer-left {
    padding-right: 80px;
    padding-top:42px;
    border-right: 2px solid #FFFFFF;
}

.footer-right {
   padding-left: 80px;
   padding-top: 53px;
}

.footer-logo {
    width: 183px;
    height: 70px;
}

.answeres {
    color: #FFFFFF;
    margin-bottom: 16px;
}

.Cooperation {
    color: #FFFFFF;
    margin-bottom: 37px;
}

.TheWayOfWater {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: justify;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}