body {
    font-family: 'Inter';
    font-style: normal;
}

p,
ul,
h1,
h2,
blockquote {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.content{
    width: 1032px;
    margin: 0 auto;
}

/* header */

.header {
    display: flex;
    background-image: linear-gradient(to top, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../images/header.jpg);
    /* background-image: url(../images/header.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 3px solid #FFFFFF;
    justify-content: space-between;
}

.header-main {
    display: flex;
    padding-left: 204px;
    justify-content: space-between;
    width: 100%;
}

.nav-list-item {
    margin-right: 10px;
}

.nav-list-item:last-child {
    margin-right: 0;
}

.header-right-item {
    margin-right: 10px;
}

.header-right-item:last-child {
    margin-right: 0;
}

.header-right {
    display: flex;
    align-items: center;
    margin: 0 48px;
}

.header-right-list {
    display: flex;
    justify-content: space-between;
}

.header-main-img {
    height: 72px;
    margin: 39px 0;

}

.nav-list {
    display: flex;
    justify-content: space-between;
    padding: 63px 0;
    width: 325px;
    align-items: center;
}

.nav-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.20;
    text-align: justify;
    color: #FFFFFF;
}

.nav-text:hover, :focus {
    font-weight: 600;
    color: #94CFFF;
}

.header-button {
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    text-align: justify;
    text-align: center;
    color: #26C6EA;
    border-radius: 35px 0;
    border: 2px solid #26C7EA;
    background-color: #0B0E66;
    margin: 54px 0;
    padding: 10px 40px;
}

.header-text-eng {
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #FFFFFF;
}

.header-img {
    width: 36px;
    height: 20px;
}

.header-text-ua {
    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #FFFFFF;
}

/* hero */

.hero {
    display: flex;
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    padding: 180px 0;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.20;
    color: #FFFFFF;
}

.hero-text-navi {
    width: 298px;
}

.hero-text-ua::before {
    content: '';
    display: block;
    background-image: url(../images/vector-hero.svg);
    background-repeat: no-repeat;
    width: 152px;
    height: 40px;
    margin-left: 53px;
}

.hero-text-ua {
    width: 376px;
}

.hero-list {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    width: 50px;
    height: 141px;
}

.hero-list-item {
    margin-bottom: 24px;
}

.hero-list-item:last-child {
    margin-bottom: 0;
}

.hero-button {
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: #26C7EA;
    border-radius: 45px 0;
    border: 3px solid #26C7EA;
    background-color: #0B0E66;
    padding: 10px 30px;
    margin-top: 42px;
}

.blockquote-section {
    padding: 75px 0 10px;
}

.blockquote {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.22;
    color: #0A3853;
    text-align: center;
}

.author {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.08;
    text-align: center;
    color: #000000;
    margin: 16px 0 8px;
}

.author::after{
    content: '';
    display: block;
    background-image: url(../images/icon-with-arrow.svg);
    width: 400px;
    height: 120px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

/* trailer */

.trailer {
    background-image: url(../images/trailer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 330px 0;
}

.trailer-button {
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    text-align: justify;
    text-align: center;
    border-radius: 45px 0;
    color: #26C7EA;
    border: 3px solid #26C7EA;
    background-color: #0B0E66;
    width: 260px;
    height: 80px;
    margin: 0 auto;
    display: block;
}

/* knowledge */

.knowledge {
    background-image: url(../images/knowledge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 57px 203px 58px 204px;

}

.knowlege-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.knowledge-item {
    width: 320px;
    height: 240px;
    background: rgba(255, 255, 255, 0.7);
    padding: 36px 0;
}

.knowledge-item:nth-child(-n +3) {
    margin-bottom: 24px;
}

.knowlege-title {
    font-family: 'HeadlandOne',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.25;
    text-align: center;
    color: #141414; 
    margin-bottom: 45px;
}

.knowledge-text-ua {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'HeadlandOne', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.00;
    text-align: center;
    color: #141414;
}

.knowledge-left::after {
    content: '';
    display: block;
    background-image: url(../images/knowlege-arrow-left.svg);
    width: 152px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 40px auto;
}

.knowledge-center::after {
    content: '';
    display: block;
    background-image: url(../images/knowlege-arrow.svg);
    width: 152px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 40px auto;
}

.knowledge-right::after {
    content: '';
    display: block;
    background-image: url(../images/knowlege-arrow-right.svg);
    width: 152px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 40px auto;
}

.knowledge-text-navi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'HeadlandOne', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.00;
    text-align: center;
    color: #000000;
    
}

/* footer */

.footer {
    display: flex;
    background-image: linear-gradient(to top, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)),
        url(../images/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 204px;
}

.footer-left {
    padding-right: 80px;
    padding-top:42px;
    border-right: 2px solid #FFFFFF;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   padding-left: 80px;
   padding-top: 53px;
}

.footer-list{
    width: 680px;
    margin-bottom: 37px;
}

.footer-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-list-item:nth-child(1) {
margin-bottom: 16px;
}

.footer-logo {
    width: 183px;
    height: 70px;
}

.answeres {
    color: #FFFFFF;
}

.dashes-one{
    background-image: url('../images/dashes-one.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 269px;
    height: 2px;
    margin: 0 20px;
}

.dashes-two{
    background-image: url('../images/dashes-two.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 194px;
    height: 2px;
    margin: 0 20px;
}

.Cooperation {
    color: #FFFFFF;
}

.TheWayOfWater {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: justify;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}





/* modal-form */

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-form {
    position: fixed;
    z-index: 100;
    padding: 111px 80px 23px;
    width: 600px;
    height: 404px;
    background-image: url(../images/modal-background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.modal-button-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
}

.modal-svg-close {
    fill: #0B0E66;
}

.modal-label {
    display: flex;
    color: #0B0E66;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    flex-direction: column;
}

.modal-input {
    width: 440px;
    height: 40px;
    border: 2px solid #0B0E66;
    background-color: #F2EAEA;
    outline: none;
    

}

.modal-input:nth-child(1) {
    margin-bottom: 12px;
}

.modal-button {
    display: block;
    margin: 0 auto;
    width: 260px;
height: 80px;
border-radius: 45px 0px;
border: 3px solid #26C7EA;
background: #0B0E66;
color: #26C7EA;
text-align: center;
font-family: "Headland One", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;

}

/* info-modal */



.info-modal {
    width: 600px;
    height: 404px;
    position: fixed;
    z-index: 100;
    background-image: url(../images/modal-background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 51px 112px 172px;
}

.info-modal-svg-close {
    fill: #FFFFFF;
}

.info-modal-title {
    color: #FFF;
text-align: center;
font-family: "Headland One", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: normal;
margin-bottom: 98px;
}

.info-modal-text {
    color: #FFF;
text-align: center;
font-family: "Headland One", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;

}



/* modal-trailer */

.modal-trailer {
    width: 1000px;
    height: 600px;
    position: fixed;
    z-index: 100;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/avatar-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 75px 80px;
}

.modal-title-trailer {
    color: #FFF;
    text-align: center;
    font-family: "Headland One", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}






.is-hidden {
    opacity: 0;
    pointer-events: none;
  }